# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
env/
*.env
.venv/

# SQLite Database
*.db
*.sqlite3

# Instance folder (if it contains sensitive configs)
instance/*
!instance/.gitkeep

# Flask instance folder
instance/

# Logs
*.log

# Fucking OS X
.DS_Store