* {
  margin: 0;
  padding: 0;
  outline: 0;
}
body {
  font-size: 12px;
  line-height: 1.3;
  font-family: Arial, Helvetica, Sans-Serif;
  color: #ccc;
  background: url("../images/body-bg.gif");
}
a {
  color: #e7b038;
  text-decoration: underline;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
a img {
  border: 0;
}
input,
textarea,
select {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
textarea {
  overflow: auto;
}
.cl {
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -4000px;
  clear: both;
}
.notext {
  font-size: 0;
  line-height: 0;
  text-indent: -4000px;
}
.left,
.alignleft {
  float: left;
  display: inline;
}
.right,
.alignright {
  float: right;
  display: inline;
}
.text-right {
  text-align: right;
}
h2 {
  font-size: 20px;
  color: #f2a223;
  font-weight: bold;
}
h3 {
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}
h4 {
  font-size: 14px;
  color: #f3b12b;
  font-weight: bold;
}
#shell {
  width: 980px;
  margin: 0 auto;
}
#header {
  position: relative;
}
h1#logo {
  position: absolute;
  top: 37px;
  left: 0;
}
h1#logo a {
  float: left;
  width: 239px;
  height: 49px;
  background: url("../images/logo.gif") no-repeat 0 0;
  font-size: 0;
  line-height: 0;
  text-indent: -4000px;
}
.social {
  float: right;
  width: 160px;
  padding-top: 11px;
}
.social span {
  float: left;
  display: inline;
  font-size: 10px;
  color: #9f9f9f;
  line-height: 16px;
  padding-right: 5px;
}
.social ul {
  list-style: none;
}
.social ul li {
  float: left;
  display: inline;
  width: 16px;
  padding-right: 2px;
}
.social ul li a {
  float: left;
  display: inline;
  width: 16px;
  height: 16px;
  background: url("../images/social.gif") no-repeat 0 0;
  font-size: 0;
  line-height: 0;
  text-indent: -4000px;
}
.social ul li a.facebook {
  background-position: -18px 0;
}
.social ul li a.vimeo {
  background-position: -36px 0;
}
.social ul li a.rss {
  background-position: -54px 0;
}
#navigation {
  float: right;
  clear: right;
  padding-top: 28px;
  padding-bottom: 47px;
}
#navigation ul {
  list-style: none;
}
#navigation ul li {
  float: left;
  display: inline;
  padding-left: 29px;
}
#navigation ul li a {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
#navigation ul li a.active,
#navigation ul li a:hover {
  color: #d91d2a;
}
#sub-navigation {
  display: block;
  clear: right;
  border-top: 1px dashed #666;
  border-bottom: 1px dashed #666;
  padding: 8px 0;
}
#sub-navigation ul {
  list-style: none;
}
#sub-navigation ul li {
  float: left;
  display: inline;
  padding-right: 23px;
}
#sub-navigation ul li a {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  line-height: 24px;
  text-decoration: none;
}
#sub-navigation ul li a:hover {
  text-decoration: underline;
}
#search {
  width: 346px;
  margin: 0 0 0 auto;
}
#search label {
  float: left;
  display: inline;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  line-height: 24px;
  padding-right: 6px;
}
#search .search-field {
  width: 238px;
  border: 1px solid #413e3e;
  background: #000;
  color: #787878;
  padding: 2px 0 2px 2px;
}
#search .search-button {
  font-size: 14px;
  font-weight: bold;
  border: 0;
  background: none;
  color: #fff;
  cursor: pointer;
}
#main {
  border-bottom: 1px dashed #413e3e;
}
.box {
  width: 980px;
  border-bottom: 1px dashed #413e3e;
  padding-bottom: 21px;
}
.box .head {
  width: 980px;
  height: 15px;
  padding-top: 14px;
  padding-bottom: 30px;
}
.box .head h2 {
  float: left;
  display: inline;
}
.box .movie {
  width: 152px;
  float: left;
  margin-bottom: 10px;
  margin-right: 12px;
  background: rgba(0, 0, 0, 0.3);
  padding: 12px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.movie-image {
  width: 152px;
  height: 214px;
  position: relative;
  margin-bottom: 8px;
}
.movie-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}
.movie-info {
  width: 100%;
}
.movie-title {
  color: #fff;
  font-size: 14px;
  margin: 8px 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.rating {
  width: 100%;
  padding: 8px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stars {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.stars .star-rating {
  position: relative;
  width: 100px;
  height: 20px;
  background: url("../images/star-empty.png") repeat-x;
  background-size: 20px 20px;
}

.stars .star-rating .star-value {
  height: 20px;
  background: url("../images/star-full.png") repeat-x;
  background-size: 20px 20px;
}

.stars .rating-number {
  font-size: 14px;
}
.comments {
  background: url("../images/comments.gif") no-repeat 0 center;
  padding-left: 12px;
  float: right;
}
#news {
  width: 460px;
  float: left;
}
#news .head {
  width: 460px;
  padding-top: 11px;
  padding-bottom: 14px;
}
#news h3,
#coming h3 {
  float: left;
}
#coming {
  width: 490px;
  float: left;
  padding-left: 30px;
}
#coming .head {
  width: 490px;
  padding-top: 11px;
  padding-bottom: 14px;
}
#coming .head strong {
  color: #ff361a;
}
#coming .content {
  min-height: 130px;
  height: auto !important;
  height: 130px;
  padding-bottom: 20px;
}
#coming .content h4 {
  padding-bottom: 3px;
}
.content {
  padding-bottom: 28px;
}
.content .date {
  font-size: 10px;
  color: #fff;
}
.content img {
  float: left;
  width: 68px;
  padding-right: 8px;
}
.content p {
  font-size: 13px;
  color: #fff;
  line-height: 16px;
}
.content a {
  font-size: 11px;
}
#footer {
  padding: 15px 0 0 0;
  font-size: 10px;
}
#footer,
#footer a {
  color: #9c9c9c;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: none;
}
#footer p {
  margin: 0;
  padding: 0 0 11px 0;
  line-height: normal;
  white-space: nowrap;
}
#footer .lf {
  float: left;
}
#footer .rf {
  float: right;
}
.movie-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.movie-grid .movie {
  width: calc(20% - 8px);
  margin-bottom: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  margin: 0 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #333;
}

.pagination a:hover {
  background-color: #f0f0f0;
}
.section-title {
  font-size: 24px; /* 調整字體大小 */
  font-weight: bold; /* 字體加粗 */
  display: flex;
  align-items: center;
  position: relative;
}

.section-title::before {
  content: "";
  width: 4px; /* 直線寬度 */
  height: 100%; /* 與文字高度一致 */
  background-color: #ffae00; /* 顏色，可自行修改 */
  position: absolute;
  left: 0;
  top: 0;
}

.section-title {
  padding-left: 10px; /* 增加內距以與直線分開 */
}
