{% extends "base.html" %} {% block content %}
<div class="box">
  <div class="head">
    <h2 class="section-title">上映中</h2>
    <p class="text-right">
      <a href="{{ url_for('main.movies_showing') }}">See all</a>
    </p>
  </div>
  {% if movies %} {% for movie in movies %}
  <div class="movie {% if loop.last %}last{% endif %}">
    <div class="movie-image">
      <a href="{{ url_for('main.movie_detail', movie_id=movie.id) }}">
        <img src="{{ movie.poster_url }}" alt="{{ movie.title }}" />
      </a>
    </div>
    <div class="movie-info">
      <h3 class="movie-title">{{ movie.title }}</h3>
      <div class="rating">
        <div class="stars">
          <span>⭐ {{ "%.1f"|format(movie.rating) }}</span>
        </div>
        <span class="comments">{{ movie.comments_count }}</span>
      </div>
    </div>
  </div>
  {% endfor %} {% else %}
  <p>No movies available at the moment. Please check back later!</p>
  {% endif %}
  <div class="cl">&nbsp;</div>
</div>

<div class="box">
  <div class="head">
    <h2 class="section-title">TOP RATED</h2>
    <p class="text-right">
      <a href="{{ url_for('main.top_rated_movies') }}">See all</a>
    </p>
  </div>
  {% if top_rated_movies %} {% for movie in top_rated_movies %}
  <div class="movie {% if loop.last %}last{% endif %}">
    <div class="movie-image">
      <a href="{{ url_for('main.movie_detail', movie_id=movie.id) }}">
        <img src="{{ movie.poster_url }}" alt="{{ movie.title }}" />
      </a>
    </div>
    <div class="movie-info">
      <h3 class="movie-title">{{ movie.title }}</h3>
      <div class="rating">
        <div class="stars">
          <span>⭐ {{ "%.1f"|format(movie.rating) }}</span>
        </div>
        <span class="comments">{{ movie.comments_count }}</span>
      </div>
    </div>
  </div>
  {% endfor %} {% else %}
  <p>No top-rated movies available at the moment. Please check back later!</p>
  {% endif %}
  <div class="cl">&nbsp;</div>
</div>

<div class="box">
  <div class="head">
    <h2 class="section-title">MOST COMMENTED</h2>
    <p class="text-right">
      <a href="{{ url_for('main.most_commented_movies') }}">See all</a>
    </p>
  </div>
  {% if most_commented_movies %} {% for movie in most_commented_movies %}
  <div class="movie {% if loop.last %}last{% endif %}">
    <div class="movie-image">
      <a href="{{ url_for('main.movie_detail', movie_id=movie.id) }}">
        <img src="{{ movie.poster_url }}" alt="{{ movie.title }}" />
      </a>
    </div>
    <div class="movie-info">
      <h3 class="movie-title">{{ movie.title }}</h3>
      <div class="rating">
        <div class="stars">
          <span>⭐ {{ "%.1f"|format(movie.rating) }}</span>
        </div>
        <span class="comments">{{ movie.comments_count }}</span>
      </div>
    </div>
  </div>
  {% endfor %} {% else %}
  <p>
    No most-commented movies available at the moment. Please check back later!
  </p>
  {% endif %}
  <div class="cl">&nbsp;</div>
</div>
{% endblock %}
