{% extends "base.html" %} {% block title %}{{ movie.title }}{% endblock %} {%
block content %}
<div style="display: flex; align-items: flex-start; margin-bottom: 20px;">
  <div style="flex: 0 0 200px; margin-right: 20px;">
    <img 
      src="{{ movie.poster_url }}" 
      alt="{{ movie.title }}" 
      style="width: 100%; height: auto; border: 1px solid #ccc;" 
    />
  </div>

  <div style="flex: 1;">
    <h1>{{ movie.title }}</h1>
    <div class="rating">
      <p>Rate:</p>
      <div class="stars">
        <div class="stars-in"></div>
      </div>
      <span class="comments">{{ movie.comments_count }}</span>
    </div>
    <br>
    <br>
    <p><strong>Release_date:</strong>{{ movie.release_date }}</p>
    <p><strong>Duration:</strong></p>
    <p><strong>Description:</strong>{{ movie.description }}</p>
    <p><strong>Genre:</strong> {{ movie.genre }}</p>
  </div>
</div>

<h2>Screening Times</h2>
<ul>
  {% for screening in screenings %}
  <li>
    {{ screening.date }} at {{ screening.cinema.name }}
    <a href="{{ url_for('main.book_seat', screening_id=screening.id) }}"
      >Book Seat</a
    >
  </li>
  {% endfor %}
</ul>

<form
  method="post"
  action="{{ url_for('main.toggle_favorite', movie_id=movie.id) }}"
>
  <button type="submit">
    {% if movie in current_user.favorite_movies %} Remove from Favorites {% else
    %} Add to Favorites {% endif %}
  </button>
</form>
{% endblock %}
