{% extends "base.html" %} {% block content %}
<div class="box">
  <div class="head">
    <h2>Top Rated Movies</h2>
  </div>

  <div class="movie-grid">
    {% if movies.items %} {% for movie in movies.items %}
    <div class="movie {% if loop.last %}last{% endif %}">
      <div class="movie-image">
        <span class="play"
          ><span class="name">{{ movie.title|upper }}</span></span
        >
        <a href="{{ url_for('main.movie_detail', movie_id=movie.id) }}">
          <img src="{{ movie.poster_url }}" alt="{{ movie.title }}" />
        </a>
      </div>
      <div class="rating">
        <p>RATING</p>
        <div class="stars">
          <div class="stars-in"></div>
        </div>
        <span class="comments">{{ movie.comments_count }}</span>
      </div>
    </div>
    {% endfor %} {% else %}
    <p>No top-rated movies found.</p>
    {% endif %}
  </div>

  <div class="pagination">
    {% if movies.has_prev %}
    <a
      href="{{ url_for('main.top_rated_movies', page=movies.prev_num) }}"
      class="prev"
      >Previous</a
    >
    {% endif %} {% if movies.has_next %}
    <a
      href="{{ url_for('main.top_rated_movies', page=movies.next_num) }}"
      class="next"
      >Next</a
    >
    {% endif %}
  </div>
</div>
{% endblock %}
